.form_container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 30px;
}

.form_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(5, 170, 88);
    border-radius: 5px;
    
}

.form_content legend{
    color: rgb(3, 110, 57);
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

.form_item{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;

}

.form_item:nth-child(5){
    margin-top: 40px;
}

.form_item label{
    font-size: 0.875rem;
}

.form_item input{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 450px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.form_item button{
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid rgb(5, 170, 88);
    border-radius: 5px;
    background-color: rgb(3, 110, 57);
    color: #fff;
}