*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
header{text-align: center;}
h1{font-size: 4rem; font-weight: 300; letter-spacing: 1px; text-align: center; color: rgb(70, 69, 69); position: relative; display: inline;}
h1::before{content: ' '; position:absolute; width: 155px; height: 3px; background-color: rgb(5, 170, 88); top: 75px; left: 5px; }